/* Write your CSS here */

.list {
  list-style-type: none;
  width: 90%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .list {
    width: 45%;
  }
}

.image {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 8px;
  max-width: 460px;
}

.active {
  border: 2px solid #2dd4bf;
  border-radius: 10px;
}

.name {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 27px;
  margin: 0px;
}

.location {
  font-family: 'Roboto';
  color: #ffffff;
  margin: 0px;
}

.button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
